<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a00953080.comp3717.bcit.ca.newwesttriviaapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TriviaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="New WestMinister Trivia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1277470608998587"
            android:exported="true" />

        <activity android:name=".activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.QuestionActivity" />
        <activity android:name=".activities.ResultActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.GameOverActivity" />
        <activity android:name=".activities.HighscoreActivity"></activity>
    </application>

</manifest>